* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.navbar-brand {
    font-weight: 600;
}

#searchInput {
    width: 500px;
}

#searchBtn {
    background-color: rebeccapurple;
    color: white;
}

.searchBox {
    margin-top: 25px;
}

#menuBoxs {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

#resultTitle {
    margin-top: 25px;
}

.card:hover {
    /* cursor: pointer; */
    border: 2px solid #663399;
}

/* popup */
#popupIngredient {
    padding: 30px;
    background-color: rgb(243, 243, 243);
    overflow: hidden;
    border-radius: 15px;
    padding-bottom: 60px;
    width: 35%;
    margin-top: 25px;
}

#popupIngredient img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

#popupIngredient h3 {
    text-align: left;
    margin-bottom: 20px;
}

#popupIngredient h5 {
    text-align: left;
    margin-bottom: 10px;
}

#popupIngredient p {
    text-align: left;
    list-style-type: square;
}
